<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .block{
            border: 2px solid black;
            block-size: border-box;
            width: 90%;
            margin: 1rem auto;
            padding: 1rem;
            transition: 0.25s ease-in-out;
            border-radius: 1rem;
        }
        .block:hover{
            transform: perspective(1000px) translateZ(20px);
            cursor: pointer;
            box-shadow: 3px 3px 5px black;
            border-color: transparent;
        }
    </style>
</head>
<body>
<header><h1>Header</h1></header>
<h1>This is Base Layout</h1>
{% block content %}
    <h1>This is default content !!!!!!</h1>
{% endblock %}
<footer><h1>Footer</h1></footer>
</body>
</html>